<% layout_title "新增產品" %>
<hr />
<%= form_for @p, url: { action: 'create' }, html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <%= render 'product/editor', :f => f %>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
      <button type='submit' class='btn btn-sm btn-success'>
        <i class="fa fa-plus"></i> 新增
      </button>
    </div>
  </div>
<% end %>