<div class="order-history">
  <div class="order-summary">
    <div class="order-object"><%= history.user.nickname %> 將採購單狀態修改為 <%= format_status_flags history.data['new_flag'].to_i unless history.data.nil? %> </div>
    <div class="order-at"><%= history.created_at %></div>
  </div>
  <div class="order-message">
    <%= history.message%>
  </div>
</div>